@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
}


.sidenav {
    width: 0; 
    position: fixed; 
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);  
    backdrop-filter: blur(5px);
    box-shadow: 10px 0px 8px 5px #888888;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    height: 100vh; 
  
}

.sidenav p{
    font-family: 'Inter';
    font-style: 'light';
    font-size: 18px;
    color: #818181;
    display: inline;
    transition: 0.3s;
    line-height: 50px;
}


.sidenav .closebtn {
  font-size: 25px;
  color: #434343;
}
.mainthing {
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 7em 3em 2em 2em;
    right: 0;
    opacity: 0.7;
    transition: opacity 230ms ease-in-out;
}
.mainthing:hover {
    opacity: 1; 
    right: 5px;
  }

.sidenav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.desc {
    margin-right: 15%;
}


@media only screen and (max-width: 600px) {

    .sidenav p {font-size: 15px;
    line-height: 35px;}
    .mainthing {width:120px; height:40px;
        padding-right: 3%;
    }
    }



.weather_app {
    height: 95vh;
    width: 100%;
    background-image: url(./pics/risefr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.grid{
    background-image : url();
    background-size: 110%;
    background-repeat: repeat-x;
    padding: 24em 3% 4em 10%;
    display: grid;
    grid-template-columns: 28vh 23vh;
    animation: animate 160s linear infinite;
    transition: all 1s ease;

    
}


@keyframes animate {
    0%{
        background-position: 50% 25%;
    }
    100%{
        background-position: -1920px 25%;
    }
}

@media only screen and (max-width: 600px) {

    .grid{
        background-size: 250%;
        background-repeat: repeat-x round;
    }
}

#icon{
    padding-top: 15%;
}



.temp{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15vh;
    text-shadow: 0 0 7px rgb(136, 136, 136);;
    color: #FFFFFF;
}


.city {
    text-align: center;
    padding-top: 0%;
    text-shadow: 0 0 10px rgb(95, 95, 95);;
    grid-column: span 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 7vh;
    line-height: 80px;
    color: #FFFFFF;
}

.weather {
    text-align: center;
    grid-column: span 2;
    font-family: 'Inter';
    font-style: normal;
    font-size: 3vh;
    font-weight: 200;
    color: #FFFFFF;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .grid{
            grid-template-columns: 50% 50%;
    }
    #icon {height: 65%;
    width: 65%;
    padding-top: 10%;}
    .temp{font-size: 13vh;
    padding-left: 10%;}
    .city {font-size: 4vh;
        padding-right: 20%;}
    .weather{font-size: 3vh;
        padding-right: 20%;}
    }

.dashboard{
    box-shadow: 10px 10px 8px 10px#3f3f3f;
    background-color: #767676;
}

.timeperiod{
    padding: 3em 15% 3em 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vh, 1fr));
    grid-gap: 40px;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 3vh;
    font-weight: 200;

}

.timeperiod div{
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.75rem 0.175rem;
    padding: 10%;
    background-color: #ffffff;
    border-radius: 10px;
}

.timeperiod div:hover{
    background-color: #939393;
    color: #ffffff;
}

.nextdays{
    padding: 2em 25% 2em 25%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33vh, 1fr));
    grid-gap: 5%;
    justify-content: center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 3vh;
    font-weight: 200;
}
.nextdays div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.15rem 0.5rem, rgba(0, 0, 0, 0.1) 0px 0.075rem 0.175rem;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10%;
}


.timeperiod{
    background-color: #ebebeb;
    box-shadow: 5px 4px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nextdays{
    background-color: #ffffff;
    box-shadow: 5px 4px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.social-icons {
    bottom: 0;
    /* margin: 2% 40% 0% 40%; */
    padding: 20px;
    /* border-radius: 40px 40px 0px 0px; */
    /* background-color:#ffffff; */
    z-index: 2;
    display:flex;
    justify-content: center;
    border-bottom:10px solid #3f3f3f;
    /* box-shadow: 5px 4px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.social-icons a{
    background-color:#5e5e5e;
    font-size:16px;
    width:50px;
    margin: 5px;
    height: 50px;;
    border-radius:100%;
    transition:all .2s linear;
}

.social-icons a.github:hover
{
background-color:#ffffff
}
.social-icons a.youtube:hover
{
background-color:#FF0000
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}


